<h1>New Story</h1>

<% form_for :story, :url => stories_path, :method => :post do |form| -%>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :description %><br/>
    <%= form.text_area :description %>
  </p>
  
  <p>
    <%= form.submit "Create" %>
  </p>
<% end -%>